@import '../common/style/base.scss';

.xnate {


  &-site {
    min-width: 1200px;
    padding: 60px 0 0;

    &-content {
      display: flex;
      background: var(--site-bg-color);
      margin-left: 240px;
      min-height: calc(100vh - 60px);
    }

    &-doc-container {
      display: flex;
      flex: 1 0 0;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        display: none;
      }

    }

   
  }
}