
.xnate-site-home {
  padding-top: 60px;
  height: calc(100vh - 60px);
  display: flex;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  &__right {
    flex: 1;
  }
}