
.xnate-site-home {
  padding-top: 60px;
  height: calc(100vh - 60px);
  display: flex;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    & h1 {
      font-size: 60px;
    }

    &-desc {
      font-size: 16px;
      margin: 20px 0;
    }

    &-box {
      padding: 40px 0;
    }
  }
  &__right {
    flex: 1;
  }
}