
.xnate-site {

  &-mobile {
    position: sticky;
    padding: 20px;
    top: 60px;
    margin-right: 20px;

    &__content {
      height: 600px;
      width: 325px;
      min-width: 325px;
      background: var(--site-secondary-bg);
      color: var(--site-text-color);
      border-radius: 24px;
    }
  }
  
}