@mixin button-size($p, $f-s, $b-h, $b-w) {
  width: $b-w;
  height: $b-h;
  padding: $p;
  font-size: $f-s;
}

@mixin button-style(
  $background,
  $border,
  $color,
  $hover-background: lighten($background, 7.5%),
  $hover-border: lighten($border, 10%),
  $hover-color: $color,
) {
  color: $color;
  background: $background;
  border-color: $border;

  &:hover {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
  }
  &:focus &.focus {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
  }
}


