@import '../../style/index.scss';

// 按钮
// 按钮基本属性
$btn-font-weight: 400;
$btn-base-padding: 0.25rem;
$btn-padding-y: 0rem;
$btn-padding-x: 0.75rem;
$btn-height: 2.75rem;
$btn-width: 100%;
$btn-font-family: $font-family-base;
$btn-font-size: $font-size-base;
$btn-line-height: $line-height-base;

//不同大小按钮的 padding 和 font size
$btn-padding-y-sm: 0rem;
$btn-padding-x-sm: 0.5rem;
$btn-font-size-sm: $font-size-sm;
$btn-height-sm: $btn-height * 0.5;
$btn-width-sm: 5rem;

$btn-padding-y-lg: 0rem;
$btn-padding-x-lg: 1rem;
$btn-font-size-lg: $font-size-lg;
$btn-height-lg: $btn-height * 1.14;
$btn-width-lg: $btn-width;

// 按钮边框
$btn-border-width: $border-width;

// 按钮其他
$btn-box-shadow: inset 0 1px 0 rgba($white, 0.15), 0 1px 1px rgba($black, 0.075);
$btn-disabled-opacity: 0.65;

// 链接按钮
$btn-link-color: $link-color;
$btn-link-hover-color: $link-hover-color;
$btn-link-disabled-color: $gray-600;

// 按钮 radius
$btn-border-radius: $border-radius;
$btn-border-radius-lg: $border-radius-lg;
$btn-border-radius-sm: $border-radius-sm;

$btn-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;


.#{$sp-prefix}-btn {
  position: relative;
  display: inline-block;
  width: 100%;
  color: $body-color;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: $btn-border-width solid transparent;
  border-radius: $border-radius;
  outline: none;
  box-shadow: $btn-box-shadow;
  cursor: pointer;
  transition: $btn-transition;
  @include button-size($btn-padding-x, $btn-padding-y, $btn-font-size, $btn-height, $btn-width);

  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &-icon {
    margin-right: $btn-base-padding;
  }
  &-lg {
    @include button-size($btn-padding-x-lg, $btn-padding-y-lg, $btn-font-size-lg, $btn-height-lg, $btn-width-lg);
  }
  &-sm {
    @include button-size($btn-padding-x-sm, $btn-padding-y-sm, $btn-font-size-sm, $btn-height-sm, $btn-width-sm);
  }

  &-default {
    @include button-style($slate, $slate, $white);
    // & ${$sp-prefix}-btn-outline {
    //   @include button-style($transparent, $slate, $slate);
    // }
  }

  &-primary {
    @include button-style($primary, $primary, $white);
    // &.${sp-prefix}-btn-outline {
    //   @include button-style($transparent, $primary, $primary);
    // }
  }

  &-warning {
    @include button-style($warning, $warning, $white);
    // &.${sp-prefix}-btn-outline {
    //   @include button-style($transparent, $warning, $warning);
    // }
  }

  &-info {
    @include button-style($info, $info, $white);
    // &.${sp-prefix}-btn-outline {
    //   @include button-style($transparent, $info, $info);
    // }
  }

  &-danger {
    @include button-style($danger, $danger, $white);
    // &.${sp-prefix}-btn-outline {
    //   @include button-style($transparent, $danger, $danger);
    // }
  }

  &-link {
    color: $link-color;
    background-color: transparent;
    box-shadow: none;
    &:hover {
      text-decoration: none;
    }
  }
  &-text {
    background-color: transparent;
    box-shadow: none;
    &:hover {
      background-color: $gray-100;
    }
    // &.${sp-prefix}-btn-outline {
    //   @include button-style($transparent, $gray-100, $gray-100);
    // }
  }
  &-disabled {
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
  }
  &-block {
    display: block;
  }

  &-shape {
    border-radius: 0;
  }
}
  